<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO 个人中心</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" href="/assets/css/signin.css" th:href="@{/assets/css/signin.css}" />
</head>
<body>

<a class="w-100 btn btn-light btn-block bg-white" href="http://127.0.0.1:7070/main" role="link" style="margin-top: 10px">
    <img src="/assets/img/google.png" th:src="@{/assets/img/devices.png}" width="20" style="margin-right: 5px;" alt="Sign in with IAM">
    登录PM客户管理平台
</a>

<a class="w-100 btn btn-light btn-block bg-white" href="http://127.0.0.1:7070/login-iam" role="link" style="margin-top: 10px">
    <img src="/assets/img/google.png" th:src="@{/assets/img/devices.png}" width="20" style="margin-right: 5px;" alt="Sign in with IAM">
    登录运营工作台
</a>

<a class="w-100 btn btn-light btn-block bg-white" href="http://127.0.0.1:7070/login-iam" role="link" style="margin-top: 10px">
    <img src="/assets/img/google.png" th:src="@{/assets/img/devices.png}" width="20" style="margin-right: 5px;" alt="Sign in with IAM">
    运维工作台
</a>

</body>
</html>
